body {
	text-align: center;
	margin: 50px;
	font-family: 'Libre Baskerville', serif !important;

}
h6{
	display: inline;
	padding: 15px;
}
h3 {
	margin-bottom: 0%;
	text-align: left;
}
h1{
	text-align: center;
	padding-top: 5%;
	font-family: 'Libre Baskerville', serif;
}
.card-title{
	padding: 15px 0px;
	font-size: 50px;
}
.card-subtitle{
	font-size: 25px;
}
.round {
	border-radius: 50px;
	margin: 10px 0px;
}
.search{
	text-align: right ;
	padding-bottom:10px;
	display: inline;
}
.container{
	width: 50%;
	margin: auto;
}
.city, .time{
	text-align: left;
}
.timeNow, .weather{
	text-align: right;
	}
.forecast {
	padding-left: 25px;
	padding-right: 25px;
}
.fa-solid {
	font-size: 35px;
}
.fa-sun {
	color: #ffdd61;
}
.fa-cloud-showers-heavy {
	color: #224e9b;
}
.fa-cloud-sun {
	color: #FEFA95;
}
.fa-cloud{
	color: #81ebe9;
}
.dark{
	color: #0ea09d;
}
.fa-cloud-rain{
	color: #92BDCB;
}
.fa-cloud-bolt{
	color: #26385a;
}
.fa-snowflake{
	color: #bfbfbf;
}
.fa-wind{
	color: #828282;
}
.humidity, .precipitation, .wind {
	text-align: right;
}
#currentLocation {
	margin-bottom: 10px;
}
.gitHubLink{
	text-align: center;
}